In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup

## Getting the Url

In [29]:
link = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(link, 'lxml')

In [30]:
#Get the html source
html = link
df = pd.read_html(html)[0]

In [31]:
df.columns = ['Postcode', 'Borough', 'Neighbourhood']
df.drop(0, inplace = True)

In [32]:
df.reset_index(inplace = True)
df.drop(['index'], axis = 1, inplace = True)

In [33]:
df.drop(list(df[df['Borough'] == 'Not assigned'].index), axis = 0, inplace = True)
df.reset_index(inplace = True)

## Placing copied postcodes on the same line, dropping extra columns

In [34]:
 for i in range(len(df) - 1):
        if df['Postcode'][i] == df['Postcode'][i+1]:
            df['Neighbourhood'][i] = df['Neighbourhood'][i] + ', ' + df['Neighbourhood'][i+1]
            df['Borough'][i + 1] = 'copy'
        
        
df.drop('index', inplace = True, axis = 1)
df.drop(list(df[df['Borough'] == 'copy'].index), inplace = True)
df.reset_index(inplace = True)  
df[df['Borough'] == df['Neighbourhood']]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

Empty DataFrame
Columns: [index, Postcode, Borough, Neighbourhood]
Index: []

In [35]:
df.drop('index', inplace = True, axis = 1)

In [36]:
df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto         Harbourfront, Regent Park
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A      Queen's Park                      Not assigned

In [38]:
df.shape

(103, 3)

In [37]:
geo = pd.read_csv('http://cocl.us/Geospatial_data')
geo.head(n = 20)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849
12         M1S  43.794200 -79.262029
13         M1T  43.781638 -79.304302
14         M1V  43.815252 -79.284577
15         M1W  43.799525 -79.318389
16         M1X  43.836125 -79.205636
17         M2H  43.803762 -79.363452
18         M2J  43.778517 -79.346556
19         M2K  43.786947 -79.385975

In [22]:
df = df.merge(geo, how = 'inner', left_on = 'Postcode', right_on = 'Postal Code')

In [25]:
df.drop('Postcode',axis = 1, inplace = True)

In [27]:
df.shape

(103, 5)